api_homepage:
    path:     /
    defaults: { _controller: ApiBundle:Default:index }
allProducts:
    path:     /all/produit
    defaults: { _controller: ApiBundle:Default:AllProducts }

allPromotions:
    path:     /all/promotions
    defaults: { _controller: ApiBundle:Default:AllPromotions }

allUsers:
    path:     /all/users
    defaults: { _controller: ApiBundle:Default:AllUsers }

allComents:
    path:     /all/coments
    defaults: { _controller: ApiBundle:Default:AllComents }
allMessageUser:
    path:     /all/messages/{id}
    defaults: { _controller: ApiBundle:Default:AllMessageUser }
allMessage:
    path:     /all/messages
    defaults: { _controller: ApiBundle:Default:AllMessage }
login:
    path:     /login
    defaults: { _controller: ApiBundle:Default:login }

add_produit:
    path:     /add/produit
    defaults: { _controller: ApiBundle:Default:AddProduct }

getUser:
    path:     /get/user
    defaults: { _controller: ApiBundle:Default:GetUserById }