api_homepage:
    path:     /
    defaults: { _controller: ApiBundle:Default:index }
allProducts:
    path:     /all/produit
    defaults: { _controller: ApiBundle:Default:AllProducts }

allPromotions:
    path:     /all/promotions
    defaults: { _controller: ApiBundle:Default:AllPromotions }

allUsers:
    path:     /all/users
    defaults: { _controller: ApiBundle:Default:AllUsers }

allComents:
    path:     /all/coments
    defaults: { _controller: ApiBundle:Default:AllComents }
allMessageUser:
    path:     /all/messages/{id}
    defaults: { _controller: ApiBundle:Default:AllMessageUser }
allMessage:
    path:     /all/messages
    defaults: { _controller: ApiBundle:Default:AllMessage }
login:
    path:     /login
    defaults: { _controller: ApiBundle:Default:login }
getUser:
    path:     /get/user
    defaults: { _controller: ApiBundle:Default:GetUserById }
AjouterRate:
    path:     /add/rate/{idp}/{idu}/{value}
    defaults: { _controller: ApiBundle:Default:AjouterRate }
addproduit:
    path:     /add/produit/{quantite}/{image}/{description}/{categorie}/{titre}/{prix}/{idartisan}
    defaults: { _controller: ApiBundle:Default:Addproduit }
addpromotion:
    path:     /add/promotion/{taux}/{idproduit}
    defaults: { _controller: ApiBundle:Default:Addproduitpromotion }
allproduitartisan:
    path:     /all/produitartisant/{id}
    defaults: { _controller: ApiBundle:Default:AllProductsArtisan }
deleateproduit:
    path:     /delete/{id}
    defaults: { _controller: ApiBundle:Default:delet }
addMessage:
    path:     /add/message/{idenv}/{idres}/{contenu}
    defaults: { _controller: ApiBundle:Default:AddMessage }
MesMessages:
    path:     /Messages/{idUser}
    defaults: { _controller: ApiBundle:Default:MesMessages }
HistoryMessages:
    path:     /add/history/{idenv}/{idres}
    defaults: { _controller: ApiBundle:Default:HistoryMessages }
addComm:
    path:     /add/Comm/{text}/{idP}/{user}
    defaults: { _controller: ApiBundle:Default:AddComm }
allCom:
    path:     /all/Comm/{idP}
    defaults: { _controller: ApiBundle:Default:AllComs }

abo_verif:
    path:     /abo
    defaults: { _controller: ApiBundle:Default:isAbo }

maps:
    path:     /map
    defaults: { _controller: ApiBundle:Default:map }

abo_add:
    path:     /add/abo
    defaults: { _controller: ApiBundle:Default:addAbo }

get_abo:
    path:     /get/abo
    defaults: { _controller: ApiBundle:Default:getAboByMember }

desabo:
    path:     /desabo
    defaults: { _controller: ApiBundle:Default:desabo }