{% extends 'layout/layout.html.twig' %}


{% block body %}

    <!-- Page item Area -->
    <div id="page_item_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h3>Cart</h3>
                </div>

                <div class="col-sm-6 text-right">
                    <ul class="p_items">
                        <li><a href="#">home</a></li>
                        <li><a href="#">category</a></li>
                        <li><span>Cart</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Cart Page -->
    <div class="cart_page_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cart_table_area table-responsive">
                        <table class="table cart_prdct_table text-center">
                            <thead>
                            <tr>

                                <th class="cpt_img">Etat</th>
                                <th class="cpt_pn">Date</th>
                                <th class="cpt_r">TOTAL</th>

                            </tr>
                            </thead>


                            <tbody>
                            <tr><td></td>
                            <td></td>
                                <td></td>
                            </tr>
                            </tbody>




{% endblock %}