


{% block body %}

    <!-- Page item Area -->



    <!-- Cart Page -->
    <div class="cart_page_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cart_table_area table-responsive">
                        <table class="table cart_prdct_table text-center">
                            <thead>
                            <tr>

                                <th class="cpt_img">Etat</th>
                                <th class="cpt_pn">Date</th>
                                <th class="cpt_r">TOTAL</th>

                            </tr>
                            </thead>

{% for cm in commande %}
                            <tbody>
                            <tr><td>{{ app.user.username }}</td>
                            <td>{{ cm.date|date('m/d/y') }}</td>
                                {% for p in panier %}
                                {% if p.idUser== cm.idUser %}
                                <td>{{ p.PrixTotal }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>




{% endblock %}